.question{
margin: 100px 0;
}

.question .container{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}

@media (max-width:991px) {
    .question .container{
        flex-direction: column;
    }
}

.question .container .ques_img{
    
}

@media (max-width:991px) {
    .question .container .ques_img img{
    width: 100%;
    }  
}
.question .container .ques_img img{

} 
.question .container .ques_info{
    
}

.question .container .ques_info h1{
    width: 550px;
    font-size: 2rem;
    font-weight: 600;
}

@media (max-width:991px) {
    .question .container .ques_info h1{
        width: 250px;
        font-size: 1.5rem;
    }
}

.question .container .ques_info p{
    
}

.question .container .ques_info button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color_1);
margin-top: 20px;
}